configstore
coc/**
nvm/**
.key

# added by credential manager
wtf/config.yml

# added by credential manager
wtf/gcal-auth.json

# added by credential manager
credential/calendar_client_sercret.json

# added by credential manager
credential/slack_token

# added by credential manager
mps-youtube/config.json

# added by credential manager
slack-term/config

# added by credential manager
slack-term/config.yml

# added by credential manager
mps-youtube/input_history

# added by credential manager
mps-youtube/play_history

# added by credential manager
mps-youtube/play_history.m3u

# added by credential manager
mps-youtube/playlist_v2
