/*
/*/

!.gitignore
!.gitmodules
!.encrypted
!README.md
!Brewfile
!set.sh
!crontab

!/configurations/
!/scripts/
!/bin/
!/tmux/
!/utils/
!/zsh/
!/nvim/
!/bin/
!/.git/
!/shortcuts/
!/cbfl/
!/tmux-shortcuts/
!/launchd/
!/bash/
!/fonts/
!/mutt_template/
